*.log
*.pot
*.pyc
.gitignore~
*.*~
.idea/*
.idea
*.sqlite
*.sqlite3
.DS_Store
*.sublime-project
*.sublime-workspace
.ropeproject/
Vagrantfile
.vagrant
dist/*
build/*

temp/*
node_modules/*

apps/__pycache__/
apps/activation/__pycache__/
apps/core/__pycache__/
apps/core/migrations/__pycache__/
apps/core/templatetags/__pycache__/
apps/frontend/__pycache__/
/package-lock.json
